/* STEP 7-6 */
@import url(http://fonts.googleapis.com/css?family=Bowlby+One);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Pacifico|Ubuntu|Bowlby+One);

article *	{background-color: inherit}
article time	{display: inline-block}

body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #ffffff;
	margin: 0}

h1	{font-weight: normal;
	font-size: 60px;
	margin-top: 40px;
	margin-bottom: 40px}

p	{line-height: 1.5}


/* ヘッダー */
header	{background-color: #ffb275;
	border-bottom: double 1px #ffffff;
	padding-top: 20px;
	padding-bottom: 15px;
	zoom: 1;
	background-image: url(kabegami5.jpeg)}

header h1	{font-family:'Pacifico', cursive;
	font-size: 38px;
	line-height: 40px;
	width: 640px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto}

header h1 a	{text-decoration: none;
	display: block;
	width: 200px;
	color: #ffffff}

header h1 a:hover	{color: #ffffff}

header h1 img	{display: none;}


/* 記事 */
article	{background-color: #ffffff;
	overflow: hidden}

article >  *	{width: 640px;
	margin-left: auto;
	margin-right: auto}



/* フッター */
footer	{background-color: #ffb275;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url(kabegami5.jpeg)}

footer small	{display: block;
	width: 640px;
	margin-left: auto;
	margin-right: auto}


/* 画像 */
figcaption	{text-align: center}

#top section img	{text-align: center;
			width: 300px}

/* リンク */
a	{color: #000000}

a:hover	{color: #D584E0}

a img	{border: none}


/* 関連記事へのリンク */
aside	{width: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffadbf;
	margin-top: 40px}

aside > *	{width: 640px;
	margin-left: auto;
	margin-right: auto}

aside h1	{font-family: 'Bowlby One', cursive;
	font-size: 16px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0}

aside ul	{list-style-type: none;
	padding-left: 0;
	margin-top: 5px;
	margin-bottom: 0}

aside li	{background-color: #ffffff;
		color: #ffb275;
		display: inline}

aside a	{text-decoration: none;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: solid 1px #ffffff;
	display: inline-block}

aside a:hover	{background-color: #ffb275;
	color: #ffffff}


/* ナビゲーションメニュー */
nav ul	{list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0;
	padding-left: 0;
	font-size: 0}

nav li	{font-family: 'Pacifico', cursive;
	display: inline;
	font-size: 20px;
	padding-left: 6px}

nav	{width: 640px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	margin-top: -85px}

nav a	{color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	width: 90px;
	padding-top: 32px;
	padding-bottom: 32px;
	text-align: center;
	background-color: #ffb275;
	color: #ffffff}

nav a:hover	{color: #ffb275;
	background-color: #ffffff}

/* お問い合わせページ */
input, textarea	{display: block;
	background-color: #ffffff;
    	filter:alpha(opacity=90);
    	-moz-opacity: 0.9;
    	opacity: 0.9}

input	{width: 400px}

input[type="submit"]	{width: 200px;
	color: #000000;
	background-color: #137f86;
	background-image: -webkit-linear-gradient(
		top, 
		#ffb275 0%, 
		#ffffff 100%);
	background-image: linear-gradient(
		to bottom, 
		#ffb275 0%, 
		#ffffff 100%);
	border: solid 1px #aaaaaa;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px}
	
input[type="checkbox"]	{
	width: 200px;
}

#contact fieldset {
	display: inline-block;
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
}
#contact div {
	display: inline-block;
}

textarea	{width: 600px;
	height: 120px}

form	{margin-bottom: 30px}

#contact section	{overflow: hidden;
		background-repeat: no-repeat;
		background-image: url(sao1.jpg);
		padding-top: 0px}

#contact h1	{color: #ffb275}

#contact table label {
	vertical-align: top;
}